{% extends "base.html" %}

{% block content %}

<a href="{% url 'expenses:expense-create' %}">add</a>

<form method="get" action="">
  {{form.as_p}}
  <button type="submit">search</button>
</form>

{% if sort_field %}
  <p>Sorting by {{ sort_field }} in {{ sort_order }} order. <a href="?">Clear</a></p>
{% endif %}

<p>
  Sort by:
  <a href="?sort=category&order={{ sort_order }}">Category</a> |
  <a href="?sort=-category&order={{ sort_order }}">Category descending</a> |
  <a href="?sort=date&order={{ sort_order }}">Date</a> |
  <a href="?sort=-date&order={{ sort_order }}">Date descending</a>
</p>

<br>

<table border="1">
	<caption>Expenses</caption>
	<thead>
	  <tr>
		<th>no.</th>
		<th>category</th>
		<th>name</th>
		<th>amount</th>
		<th>date</th>
		<th>actions</th>
	  </tr>
	</thead>
	<tbody>

	{% for obj in object_list %}
	  <tr>
		<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
		<td>{{ obj.category|default:"-" }}</td>
		<td>{{ obj.name|default:"-" }}</td>
		<td>{{ obj.amount|floatformat:2 }}</td>
		<td>{{obj.date}}</td>
		<td>
		  <a href="{% url 'expenses:expense-edit' obj.id %}">edit</a>
		  <a href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
		</td>
	  </tr>
	  {% empty %}
	  <tr>
		<td colspan="5">no items</td>
	  </tr>
	{% endfor %}
	</tbody>
</table>
  <br>
{% if summary_per_month %}
<table border="1">
  <caption>Total Summary per Year-Month</caption>
  <thead>
    <tr>
      <th>Year-Month</th>
      <th>Total Amount Spent</th>
    </tr>
  </thead>
  <tbody>
    {% for summary in summary_per_month %}
      <tr>
        <td>{{ summary.year|date:"Y" }}-{{ summary.month|date:"m" }}</td>
        <td>{{ summary.total|floatformat:2 }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2">No data available</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<p>Total amount spent: {{ total_amount|floatformat:2 }}</p>

{% include "_pagination.html" %}
<hr>
<table border="1">
  <caption>Summary per category</caption>
  <tr>
    {% for category, total in summary_per_category.items %}
	<tr>
		<td>{{category}}:</td>
		<td>{{total|floatformat:2}}</td>
	</tr>
	{% endfor %}
  </tr>
</table>
{% endblock %}
